*{
    margin: 0;
    padding:0;
}
#top-section{
    height:100px;
    width: 95%;
    margin: auto;
    /* border:1px solid red; */
}
/* Navbar */
#nav{
    /* border:1px solid red; */
    height:100%;
    width:100%;
    display: flex;
}
#nav >div{
    /* border:1px solid blue; */
}
#nav >div:nth-child(1){
    width:30%;
    height: 100%;
}
#nav >div:nth-child(1) img{
    width: 100%;
    height: 60%;
    /* border:1px solid red; */
    margin-top: 5%;
}
#nav-right{
    /* border:1px solid tomato; */
    width:70%;
    height: 100%;
}
#nav-right >div{
    /* border:1px solid blue; */
}
/* Navbar right top section */
#nav-right-top{
    height: 40%;
    width: 100%;
    font-size: 1vw;
    display: flex;
}
#nav-right-top >div:nth-child(1){
    /* border:1px solid tomato; */
    width:55%
}
#nav-right-top >div:nth-child(2){
    display: flex;
    /* border:1px solid tomato; */
    justify-content: space-between;
    width:40%;
}
#nav-right-top >div:nth-child(2) >div{
    /* border:1px solid blue; */
}
#nav-right-top >div:nth-child(2) >div:nth-child(3){
    background-color: black;
    color:white;
}
#nav-right-top >div:nth-child(2) >div p{
    padding: 5px;
}
/* Navbar right bottom section */
#nav-right-bot{
    width: 100%;
    height: 60%;
    display: flex;
    font-size: 1vw;

}
#nav-right-bot-left{
    /* border:1px solid blue; */
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-right-bot-right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border:1px solid tomato; */
}
#nav-right-bot-right >div:nth-child(1){
    /* border:1px solid tomato; */
    width: 65%;
    height: 60%;
    border-radius: 20px;
    background-color: #fffded;
    border: 0.5px solid grey;
    color:gray;
}
#nav-right-bot-right >div:nth-child(1) input{
    height: 100%;
    width:80%;
    padding-left:10px;
    border-radius: 20px;
    border: none;
    background-color: #fffded;
}

#nav-right-bot-right >div:nth-child(2){
    /* border:1px solid tomato; */
    width: 10%;
    height: 60%;
    border-radius: 50%;
    background-color: #2b4052;
}
#nav-right-bot-right >div:nth-child(2) i{
    margin: 10px 13px;
    color:white;
    
}
#nav-right-bot-right >div:nth-child(3){
    /* border:1px solid tomato; */
    width: 10%;
    height: 60%;
    border-radius: 50%;
    background-color: #2b4052;
}
#nav-right-bot-right >div:nth-child(3) i{
    margin: 8px 14px;
    color:white;
}
/* Count down */
#countdown{
    height: 40px;
    /* border:1px solid tomato; */
    background-color: #fff8eb;
}
#countdown >div{
    /* border:1px solid blueviolet; */
    height: 100%;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#686868;
    
    font-size: 1.5vw;
}
.time{
    width:8%;
    /* border:1px solid blueviolet; */
    display: flex;
    justify-content: space-between;
}
.time >p:nth-child(1){
    background-color: white;
    color:red;
    width: 80%;
}
.live-now{
    /* border:1px solid red; */
    height: 130px;
    width:100%;
    background-color: #fededf;
}
#pricing{
    width:100%;
    height: 500px;
}
#discount,#brand-game,#in-trend{
    width:100%;
    height: 150px;
}

#bank{
    width:100%;
    height: 150px;
    border:1px solid red;
}
#bank img{
    height: 100%;
    width:100%;
}
#v-day{
    height: 500px;
    width:100%;
}
#reward{
    height: 180px;
    width:100%;
}
.live-now img,#pricing img,#discount img, #brand-game img,#v-day img,#reward img,#in-trend img{
    width: 100%;
    height: 100%;   
}
#invite{
    height: 600px;
    width: 100%;
    display: flex;
}
#invite >div{
    width:33.3%;
    height: 100%;
}
#invite >div img{
    height: 100%;
    width:100%;
}
#trend-cards{
    height:500px;
    width:100%;
    display:flex;
}
#trend-cards >div{
    height:100%;
    width:40%;
}
#trend-cards >div img{
    height: 100%;
    width:100%;
}
.idea{
    width: 100%;
}
.idea >div{
    width:100%;
}
.idea >div img{
    height: 100%;
    width: 100%;
}
.product{
    display: flex;
    width:100%;
    height: 600px;
}
.product >div{
    width:25%;
}
.product >div img{
    height: 100%;
    width: 100%;
}
.mul{
    height:500px;
}
#logo{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    height:150px;
    align-items: center;
}
#logo >div{
    /* border:1px solid red; */
    width:20%;
    height: 100%;
    text-align:center;
}
#logo >div i{
    font-size: 2.5vw;
    padding:10px;
}
#logo >div p{
font-size: 1.5vw;
}
footer{
    /* border:1px solid red; */
    height: 600px;
    width: 100%;
    background-color: #2c4152;
    color:white;
}
footer >div:nth-child(1){
    height: 75%;
    width:80%;
    /* border:1px solid red; */
    margin: auto;
    border-bottom: 1px solid white;
}
#footer-top{
    /* border:1px solid blue; */
    height:100%;
    width:100%;
    display: flex;
    justify-content: space-between;
    font-size:1.3vw;
 
}
#footer-top >div >div:nth-child(1){
    margin: 20px;
}
#footer-top >div >div:nth-child(2) p{
    padding: 5px;;
}
#footer-bot{
    height:20%;
    /* border: 1px solid white; */
    width:90%;
    margin:auto;

}
#footer-bot  img{
    height: 100%;
    width:100%;
}